@charset "UTF-8";#es-rc #es-rc-content{--es-rc-black:#000;--es-rc-white:#fff;--es-rc-primary:#000;--es-rc-secondary:#000;--es-rc-primary-rgb:0,0,0;--es-rc-secondary-rgb:0,0,0;--es-rc-primary-text-emphasis:black;--es-rc-secondary-text-emphasis:black;--es-rc-primary-bg-subtle:#cccccc;--es-rc-secondary-bg-subtle:#cccccc;--es-rc-primary-border-subtle:#999999;--es-rc-secondary-border-subtle:#999999;--es-rc-white-rgb:255,255,255;--es-rc-black-rgb:0,0,0;--es-rc-font-sans-serif:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--es-rc-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;--es-rc-gradient:linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));--es-rc-body-font-family:var(--es-rc-font-sans-serif);--es-rc-body-font-size:1rem;--es-rc-body-font-weight:400;--es-rc-body-line-height:1.5;--es-rc-body-text-align:left;--es-rc-body-color:#000;--es-rc-body-color-rgb:0,0,0;--es-rc-body-bg:#fff;--es-rc-body-bg-rgb:255,255,255;--es-rc-emphasis-color:#000;--es-rc-emphasis-color-rgb:0,0,0;--es-rc-secondary-color:rgba(0, 0, 0, 0.75);--es-rc-secondary-color-rgb:0,0,0;--es-rc-secondary-bg:#fff;--es-rc-secondary-bg-rgb:255,255,255;--es-rc-tertiary-color:rgba(0, 0, 0, 0.5);--es-rc-tertiary-color-rgb:0,0,0;--es-rc-tertiary-bg:#fff;--es-rc-tertiary-bg-rgb:255,255,255;--es-rc-heading-color:#000;--es-rc-link-color:#000;--es-rc-link-color-rgb:0,0,0;--es-rc-link-decoration:none;--es-rc-link-hover-color:black;--es-rc-link-hover-color-rgb:0,0,0;--es-rc-code-color:pink;--es-rc-highlight-bg:yellow;--es-rc-border-width:1px;--es-rc-border-style:solid;--es-rc-border-color:#000;--es-rc-border-color-translucent:rgba(0, 0, 0, 0.175);--es-rc-border-radius:0.375rem;--es-rc-border-radius-sm:0.25rem;--es-rc-border-radius-lg:0.5rem;--es-rc-border-radius-xl:1rem;--es-rc-border-radius-xxl:2rem;--es-rc-border-radius-2xl:var(--es-rc-border-radius-xxl);--es-rc-border-radius-pill:50rem;--es-rc-box-shadow:0 0.5rem 1rem rgba(0, 0, 0, 0.15);--es-rc-box-shadow-sm:0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);--es-rc-box-shadow-lg:0 1rem 3rem rgba(0, 0, 0, 0.175);--es-rc-box-shadow-inset:inset 0 1px 2px rgba(0, 0, 0, 0.075);--es-rc-focus-ring-width:0.25rem;--es-rc-focus-ring-opacity:0.25;--es-rc-focus-ring-color:rgba(0, 0, 0, 0.25);--es-rc-form-valid-color:green;--es-rc-form-valid-border-color:green;--es-rc-form-invalid-color:red;--es-rc-form-invalid-border-color:red}#es-rc #es-rc-content *,#es-rc #es-rc-content ::after,#es-rc #es-rc-content ::before{box-sizing:border-box}#es-rc #es-rc-content{margin:0;font-family:var(--es-rc-body-font-family);font-size:var(--es-rc-body-font-size);font-weight:var(--es-rc-body-font-weight);line-height:var(--es-rc-body-line-height);color:var(--es-rc-body-color);text-align:var(--es-rc-body-text-align);background-color:var(--es-rc-body-bg);-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent}#es-rc #es-rc-content p{margin-top:0;margin-bottom:1rem}#es-rc #es-rc-content strong{font-weight:bolder}#es-rc #es-rc-content sup{position:relative;font-size:.5em;line-height:0;vertical-align:top;top:0.5em}#es-rc #es-rc-content sup{top:.5em}#es-rc #es-rc-content a{color:rgba(var(--es-rc-link-color-rgb),var(--es-rc-link-opacity,1));text-decoration:none}#es-rc #es-rc-content a:hover{--es-rc-link-color-rgb:var(--es-rc-link-hover-color-rgb)}#es-rc #es-rc-content img{vertical-align:middle}#es-rc #es-rc-content table{caption-side:bottom;border-collapse:collapse;background:inherit}#es-rc #es-rc-content th{text-align:inherit;text-align:-webkit-match-parent}#es-rc #es-rc-content tbody,#es-rc #es-rc-content td,#es-rc #es-rc-content th,#es-rc #es-rc-content thead,#es-rc #es-rc-content tr{border-color:inherit;border-style:solid;border-width:0;background:inherit}#es-rc #es-rc-content button:focus:not(:focus-visible){outline:0}#es-rc #es-rc-content [type=button]:not(:disabled),#es-rc #es-rc-content [type=reset]:not(:disabled),#es-rc #es-rc-content [type=submit]:not(:disabled),#es-rc #es-rc-content button:not(:disabled){cursor:pointer}#es-rc #es-rc-content ::-moz-focus-inner{padding:0;border-style:none}#es-rc #es-rc-content ::-webkit-datetime-edit-day-field,#es-rc #es-rc-content ::-webkit-datetime-edit-fields-wrapper,#es-rc #es-rc-content ::-webkit-datetime-edit-hour-field,#es-rc #es-rc-content ::-webkit-datetime-edit-minute,#es-rc #es-rc-content ::-webkit-datetime-edit-month-field,#es-rc #es-rc-content ::-webkit-datetime-edit-text,#es-rc #es-rc-content ::-webkit-datetime-edit-year-field{padding:0}#es-rc #es-rc-content ::-webkit-inner-spin-button{height:auto}#es-rc #es-rc-content ::-webkit-search-decoration{-webkit-appearance:none}#es-rc #es-rc-content ::-webkit-color-swatch-wrapper{padding:0}#es-rc #es-rc-content ::-webkit-file-upload-button{font:inherit;-webkit-appearance:button}#es-rc #es-rc-content ::file-selector-button{font:inherit;-webkit-appearance:button}#es-rc #es-rc-content iframe{border:0}#es-rc #es-rc-content .img-fluid{max-width:100%;height:auto}#es-rc #es-rc-content .container{--es-rc-gutter-x:1.5rem;--es-rc-gutter-y:0;width:100%;margin-right:auto;margin-left:auto}@media (min-width:576px){#es-rc #es-rc-content .container{max-width:540px}}@media (min-width:768px){#es-rc #es-rc-content .container{max-width:720px}}@media (min-width:992px){#es-rc #es-rc-content .container{max-width:960px}}@media (min-width:1200px){#es-rc #es-rc-content .container{max-width:1140px}}@media (min-width:1600px){#es-rc #es-rc-content .container{max-width:1520px}}#es-rc #es-rc-content .row{--es-rc-gutter-x:1.5rem;--es-rc-gutter-y:0;display:flex;flex-wrap:wrap;margin-top:calc(-1 * var(--es-rc-gutter-y));margin-right:calc(-.5 * var(--es-rc-gutter-x));margin-left:calc(-.5 * var(--es-rc-gutter-x))}#es-rc #es-rc-content .row>*{flex-shrink:0;width:100%;max-width:100%;padding-right:calc(var(--es-rc-gutter-x) * .5);padding-left:calc(var(--es-rc-gutter-x) * .5);margin-top:var(--es-rc-gutter-y)}#es-rc #es-rc-content .col-4{flex:0 0 auto;width:33.33333333%}#es-rc #es-rc-content .col-6{flex:0 0 auto;width:50%}#es-rc #es-rc-content .col-8{flex:0 0 auto;width:66.66666667%}#es-rc #es-rc-content .col-12{flex:0 0 auto;width:100%}@media (min-width:576px){#es-rc #es-rc-content .col-sm-3{flex:0 0 auto;width:25%}#es-rc #es-rc-content .col-sm-6{flex:0 0 auto;width:50%}#es-rc #es-rc-content .col-sm-9{flex:0 0 auto;width:75%}#es-rc #es-rc-content .col-sm-10{flex:0 0 auto;width:83.33333333%}#es-rc #es-rc-content .col-sm-12{flex:0 0 auto;width:100%}}@media (min-width:768px){#es-rc #es-rc-content .col-md-2{flex:0 0 auto;width:16.66666667%}#es-rc #es-rc-content .col-md-3{flex:0 0 auto;width:25%}#es-rc #es-rc-content .col-md-5{flex:0 0 auto;width:41.66666667%}#es-rc #es-rc-content .col-md-7{flex:0 0 auto;width:58.33333333%}#es-rc #es-rc-content .col-md-8{flex:0 0 auto;width:66.66666667%}#es-rc #es-rc-content .col-md-10{flex:0 0 auto;width:83.33333333%}}@media (min-width:992px){#es-rc #es-rc-content .col-lg-3{flex:0 0 auto;width:25%}#es-rc #es-rc-content .col-lg-5{flex:0 0 auto;width:41.66666667%}#es-rc #es-rc-content .col-lg-6{flex:0 0 auto;width:50%}}#es-rc #es-rc-content .table{--es-rc-table-color:var(--es-rc-body-color);--es-rc-table-bg:transparent;--es-rc-table-border-color:var(--es-rc-border-color);--es-rc-table-accent-bg:transparent;--es-rc-table-striped-color:var(--es-rc-body-color);--es-rc-table-striped-bg:rgba(0, 0, 0, 0.05);--es-rc-table-active-color:var(--es-rc-body-color);--es-rc-table-active-bg:rgba(0, 0, 0, 0.1);--es-rc-table-hover-color:var(--es-rc-body-color);--es-rc-table-hover-bg:rgba(0, 0, 0, 0.075);width:100%;margin-bottom:1rem;color:var(--es-rc-table-color);vertical-align:top;border-color:var(--es-rc-table-border-color)}#es-rc #es-rc-content .table>:not(caption)>*>*{padding:.5rem .5rem;background-color:var(--es-rc-table-bg);border-bottom-width:var(--es-rc-border-width);box-shadow:inset 0 0 0 9999px var(--es-rc-table-accent-bg)}#es-rc #es-rc-content .table>tbody{vertical-align:inherit}#es-rc #es-rc-content .table>thead{vertical-align:bottom}#es-rc #es-rc-content .table-responsive{overflow-x:auto;-webkit-overflow-scrolling:touch}#es-rc #es-rc-content .form-control[type=file]:not(:disabled):not([readonly]){cursor:pointer}#es-rc #es-rc-content .form-control::file-selector-button{padding:.375rem .75rem;margin:-.375rem -.75rem;-webkit-margin-end:.75rem;margin-inline-end:.75rem;color:var(--es-rc-body-color);background-color:var(--es-rc-tertiary-bg);pointer-events:none;border-color:inherit;border-style:solid;border-width:0;border-inline-end-width:var(--es-rc-border-width);border-radius:0;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out}@media (prefers-reduced-motion:reduce){#es-rc #es-rc-content .form-control::file-selector-button{transition:none}}#es-rc #es-rc-content .form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button{background-color:var(--es-rc-secondary-bg)}#es-rc #es-rc-content .form-control:hover:not(:disabled):not([readonly])::file-selector-button{background-color:var(--es-rc-secondary-bg)}#es-rc #es-rc-content .form-control-sm::file-selector-button{padding:.25rem .5rem;margin:-.25rem -.5rem;-webkit-margin-end:.5rem;margin-inline-end:.5rem}#es-rc #es-rc-content .form-control-lg::file-selector-button{padding:.5rem 1rem;margin:-.5rem -1rem;-webkit-margin-end:1rem;margin-inline-end:1rem}#es-rc #es-rc-content .form-control-color:not(:disabled):not([readonly]){cursor:pointer}#es-rc #es-rc-content .form-floating>.form-control-plaintext:not(:-moz-placeholder-shown),#es-rc #es-rc-content .form-floating>.form-control:not(:-moz-placeholder-shown){padding-top:1.625rem;padding-bottom:.625rem}#es-rc #es-rc-content .form-floating>.form-control:not(:-moz-placeholder-shown)~label{color:rgba(var(--es-rc-body-color-rgb),.65);transform:scale(.85) translateY(-.5rem) translateX(.15rem)}#es-rc #es-rc-content .form-floating>.form-control:not(:-moz-placeholder-shown)~label::after{position:absolute;inset:1rem 0.375rem;z-index:-1;height:1.5em;content:"";background-color:var(--es-rc-body-bg);border-radius:var(--es-rc-border-radius)}#es-rc #es-rc-content .form-floating>:disabled~label{color:#333}#es-rc #es-rc-content .form-floating>:disabled~label::after{background-color:var(--es-rc-secondary-bg)}#es-rc #es-rc-content .input-group>.form-control:not(:focus).is-valid,#es-rc #es-rc-content .input-group>.form-floating:not(:focus-within).is-valid,#es-rc #es-rc-content .input-group>.form-select:not(:focus).is-valid,.was-validated #es-rc #es-rc-content .input-group>.form-control:not(:focus):valid,.was-validated #es-rc #es-rc-content .input-group>.form-floating:not(:focus-within):valid,.was-validated #es-rc #es-rc-content .input-group>.form-select:not(:focus):valid{z-index:3}#es-rc #es-rc-content .input-group>.form-control:not(:focus).is-invalid,#es-rc #es-rc-content .input-group>.form-floating:not(:focus-within).is-invalid,#es-rc #es-rc-content .input-group>.form-select:not(:focus).is-invalid,.was-validated #es-rc #es-rc-content .input-group>.form-control:not(:focus):invalid,.was-validated #es-rc #es-rc-content .input-group>.form-floating:not(:focus-within):invalid,.was-validated #es-rc #es-rc-content .input-group>.form-select:not(:focus):invalid{z-index:4}#es-rc #es-rc-content .btn:focus-visible{color:var(--es-rc-btn-hover-color);background-color:var(--es-rc-btn-hover-bg);border-color:var(--es-rc-btn-hover-border-color);outline:0;box-shadow:var(--es-rc-btn-focus-box-shadow)}.btn-check:focus-visible+#es-rc #es-rc-content .btn{border-color:var(--es-rc-btn-hover-border-color);outline:0;box-shadow:var(--es-rc-btn-focus-box-shadow)}#es-rc #es-rc-content .btn.active:focus-visible,#es-rc #es-rc-content .btn.show:focus-visible,#es-rc #es-rc-content .btn:first-child:active:focus-visible,.btn-check:checked+#es-rc #es-rc-content .btn:focus-visible,:not(.btn-check)+#es-rc #es-rc-content .btn:active:focus-visible{box-shadow:var(--es-rc-btn-focus-box-shadow)}#es-rc #es-rc-content .btn-link:focus-visible{color:var(--es-rc-btn-color)}#es-rc #es-rc-content .nav-link:focus-visible{outline:0;box-shadow:0 0 0 .25rem rgba(0,0,0,.25)}#es-rc #es-rc-content .icon-link-hover:focus-visible>.bi{transform:var(--es-rc-icon-link-transform,translate3d(.25em,0,0))}#es-rc #es-rc-content .visually-hidden-focusable:not(:focus):not(:focus-within){width:1px!important;height:1px!important;padding:0!important;margin:-1px!important;overflow:hidden!important;clip:rect(0,0,0,0)!important;white-space:nowrap!important;border:0!important}#es-rc #es-rc-content .visually-hidden-focusable:not(:focus):not(:focus-within):not(caption){position:absolute!important}#es-rc #es-rc-content .d-block{display:block!important}#es-rc #es-rc-content .position-relative{position:relative!important}#es-rc #es-rc-content .w-100{width:100%!important}#es-rc #es-rc-content .flex-row{flex-direction:row!important}#es-rc #es-rc-content .flex-column{flex-direction:column!important}#es-rc #es-rc-content .justify-content-start{justify-content:flex-start!important}#es-rc #es-rc-content .justify-content-center{justify-content:center!important}#es-rc #es-rc-content .align-items-start{align-items:flex-start!important}#es-rc #es-rc-content .m-0{margin:0!important}#es-rc #es-rc-content .m-auto{margin:auto!important}#es-rc #es-rc-content .mx-0{margin-right:0!important;margin-left:0!important}#es-rc #es-rc-content .mt-3{margin-top:1rem!important}#es-rc #es-rc-content .mt-4{margin-top:1.5rem!important}#es-rc #es-rc-content .mb-4{margin-bottom:1.5rem!important}#es-rc #es-rc-content .p-0{padding:0!important}#es-rc #es-rc-content .p-1{padding:.25rem!important}#es-rc #es-rc-content .p-4{padding:1.5rem!important}#es-rc #es-rc-content .px-0{padding-right:0!important;padding-left:0!important}#es-rc #es-rc-content .px-3{padding-right:1rem!important;padding-left:1rem!important}#es-rc #es-rc-content .px-4{padding-right:1.5rem!important;padding-left:1.5rem!important}#es-rc #es-rc-content .py-2{padding-top:.5rem!important;padding-bottom:.5rem!important}#es-rc #es-rc-content .py-3{padding-top:1rem!important;padding-bottom:1rem!important}#es-rc #es-rc-content .py-4{padding-top:1.5rem!important;padding-bottom:1.5rem!important}#es-rc #es-rc-content .py-5{padding-top:3rem!important;padding-bottom:3rem!important}#es-rc #es-rc-content .pt-0{padding-top:0!important}#es-rc #es-rc-content .pt-3{padding-top:1rem!important}#es-rc #es-rc-content .pt-5{padding-top:3rem!important}#es-rc #es-rc-content .pb-0{padding-bottom:0!important}#es-rc #es-rc-content .pb-3{padding-bottom:1rem!important}#es-rc #es-rc-content .row-gap-3{row-gap:1rem!important}#es-rc #es-rc-content .text-center{text-align:center!important}#es-rc #es-rc-content .rounded{border-radius:var(--es-rc-border-radius)!important}@media (min-width:576px){#es-rc #es-rc-content .justify-content-sm-center{justify-content:center!important}#es-rc #es-rc-content .px-sm-4{padding-right:1.5rem!important;padding-left:1.5rem!important}}@media (min-width:768px){#es-rc #es-rc-content .pt-md-4{padding-top:1.5rem!important}#es-rc #es-rc-content .pt-md-5{padding-top:3rem!important}}@media (min-width:992px){#es-rc #es-rc-content .d-lg-flex{display:flex!important}#es-rc #es-rc-content .justify-content-lg-around{justify-content:space-around!important}#es-rc #es-rc-content .mb-lg-3{margin-bottom:1rem!important}#es-rc #es-rc-content .px-lg-3{padding-right:1rem!important;padding-left:1rem!important}#es-rc #es-rc-content .py-lg-4{padding-top:1.5rem!important;padding-bottom:1.5rem!important}}

p{margin-top:0;margin-bottom:1rem}p{margin-bottom:1rem}img{vertical-align:middle}body{text-align:left}sup{vertical-align:baseline}.fdb-block,.fdb-block .container{background-position:center;background-repeat:no-repeat}*,::after,::before{box-sizing:border-box}html{font-family:sans-serif;line-height:1.15;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-ms-overflow-style:scrollbar;-webkit-tap-highlight-color:transparent}@-ms-viewport{width:device-width}body{margin:0;font-family:Lato,Helvetica,Arial;font-size:1em;font-weight:400;line-height:1.5;color:#444;background-color:#fff}.btn:not(:disabled):not(.disabled){cursor:pointer}strong{font-weight:bolder}a{color:#329ef7;text-decoration:none;background-color:transparent;-webkit-text-decoration-skip:objects}a:hover{color:#0056b3;text-decoration:underline}img{border-style:none}table{border-collapse:collapse}th{text-align:inherit}::-webkit-file-upload-button{font:inherit;-webkit-appearance:button}p{font-weight:400}.fdb-block,.rounded{overflow:hidden}.btn-primary:not(:disabled):not(.disabled).active:focus,.btn-primary:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(50,158,247,.5)}.btn-primary:not(:disabled):not(.disabled).active,.btn-primary:not(:disabled):not(.disabled):active{color:#fff;background-color:#0986ed;border-color:#097fe0}.btn-secondary:not(:disabled):not(.disabled).active:focus,.btn-secondary:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(254,102,85,.5)}.btn-secondary:not(:disabled):not(.disabled).active,.btn-secondary:not(:disabled):not(.disabled):active{color:#fff;background-color:#fe3822;border-color:#fe2d16}.btn-success:not(:disabled):not(.disabled).active:focus,.btn-success:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(40,167,69,.5)}.btn-success:not(:disabled):not(.disabled).active,.btn-success:not(:disabled):not(.disabled):active{color:#fff;background-color:#1e7e34;border-color:#1c7430}.btn-info:not(:disabled):not(.disabled).active:focus,.btn-info:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(23,162,184,.5)}.btn-info:not(:disabled):not(.disabled).active,.btn-info:not(:disabled):not(.disabled):active{color:#fff;background-color:#117a8b;border-color:#10707f}.btn-warning:not(:disabled):not(.disabled).active:focus,.btn-warning:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(255,193,7,.5)}.btn-warning:not(:disabled):not(.disabled).active,.btn-warning:not(:disabled):not(.disabled):active{color:#212529;background-color:#d39e00;border-color:#c69500}.btn-danger:not(:disabled):not(.disabled).active:focus,.btn-danger:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(220,53,69,.5)}.btn-danger:not(:disabled):not(.disabled).active,.btn-danger:not(:disabled):not(.disabled):active{color:#fff;background-color:#bd2130;border-color:#b21f2d}.btn-light:not(:disabled):not(.disabled).active:focus,.btn-light:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(248,249,250,.5)}.btn-light:not(:disabled):not(.disabled).active,.btn-light:not(:disabled):not(.disabled):active{color:#212529;background-color:#dae0e5;border-color:#d3d9df}.btn-dark:not(:disabled):not(.disabled).active:focus,.btn-dark:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(52,58,64,.5)}.btn-dark:not(:disabled):not(.disabled).active,.btn-dark:not(:disabled):not(.disabled):active{color:#fff;background-color:#1d2124;border-color:#171a1d}.btn-outline-primary:not(:disabled):not(.disabled).active:focus,.btn-outline-primary:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(50,158,247,.5)}.btn-outline-primary:not(:disabled):not(.disabled).active,.btn-outline-primary:not(:disabled):not(.disabled):active{color:#fff;background-color:#329ef7;border-color:#329ef7}.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,.btn-outline-secondary:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(254,102,85,.5)}.btn-outline-secondary:not(:disabled):not(.disabled).active,.btn-outline-secondary:not(:disabled):not(.disabled):active{color:#fff;background-color:#fe6655;border-color:#fe6655}.btn-outline-success:not(:disabled):not(.disabled).active:focus,.btn-outline-success:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(40,167,69,.5)}.btn-outline-success:not(:disabled):not(.disabled).active,.btn-outline-success:not(:disabled):not(.disabled):active{color:#fff;background-color:#28a745;border-color:#28a745}.btn-outline-info:not(:disabled):not(.disabled).active:focus,.btn-outline-info:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(23,162,184,.5)}.btn-outline-info:not(:disabled):not(.disabled).active,.btn-outline-info:not(:disabled):not(.disabled):active{color:#fff;background-color:#17a2b8;border-color:#17a2b8}.btn-outline-warning:not(:disabled):not(.disabled).active:focus,.btn-outline-warning:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(255,193,7,.5)}.btn-outline-warning:not(:disabled):not(.disabled).active,.btn-outline-warning:not(:disabled):not(.disabled):active{color:#212529;background-color:#ffc107;border-color:#ffc107}.btn-outline-danger:not(:disabled):not(.disabled).active:focus,.btn-outline-danger:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(220,53,69,.5)}.btn-outline-danger:not(:disabled):not(.disabled).active,.btn-outline-danger:not(:disabled):not(.disabled):active{color:#fff;background-color:#dc3545;border-color:#dc3545}.btn-outline-light:not(:disabled):not(.disabled).active:focus,.btn-outline-light:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(248,249,250,.5)}.btn-outline-light:not(:disabled):not(.disabled).active,.btn-outline-light:not(:disabled):not(.disabled):active{color:#212529;background-color:#f8f9fa;border-color:#f8f9fa}.btn-outline-dark:not(:disabled):not(.disabled).active:focus,.btn-outline-dark:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(52,58,64,.5)}.btn-outline-dark:not(:disabled):not(.disabled).active,.btn-outline-dark:not(:disabled):not(.disabled):active{color:#fff;background-color:#343a40;border-color:#343a40}p{color:#8892a0}.fdb-block{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-rendering:optimizelegibility;padding:7.5rem 0;position:relative;background-size:cover;background-color:#FFF}.fdb-block .container{background-size:contain}.fdb-block .fdb-box{background:#FFF;padding:3.75rem 2.5rem;overflow:hidden;color:#444;border-radius:.25rem;box-shadow:0 .3125rem .875rem 0 rgba(129,129,129,.2)!important}.fdb-block img+p{margin-top:1.25rem}.bg-dark{background-color:#2d313c;color:#f2f2f2}

.fdb-block {
    margin-top:3em;
}
#es-rc-content {
    background:url("../imgs/checkerboard.png") 0 0 repeat;
}
@keyframes es-animation-element-pulse {
    0% {
        transform: scale(0.85);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.85);
    }
}

.es-animation-pulsing {
    animation: es-animation-element-pulse 2s infinite ease-in-out;
}

/* custom styles */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "Montserrat";
  src: url("https://s3.eu-central-1.amazonaws.com/cdn.rc-eu-central2.nexus.estorelabs.com/public/static/RC---SF-35-sanofi-mucosolvan-x100-ZAWISZA/fonts/Montserrat-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "MuseoSans";
  src: url("https://s3.eu-central-1.amazonaws.com/cdn.rc-eu-central2.nexus.estorelabs.com/public/static/RC---SF-35-sanofi-mucosolvan-x100-ZAWISZA/fonts/MuseoSans-900.otf") format("opentype");
}
@keyframes slideleft {
  from {
    opacity: 0.3;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade {
  0% {
    opacity: 0;
    transform: translateX(-5px);
  }
  to {
    opacity: 1;
    transform: translateX(5px);
  }
}
.fdb-block {
  margin-top: 0 !important;
  padding: 0 0 1.5rem 0 !important;
}

#es-rc.es-rc {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  max-width: 992px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background: #1f57a4;
  /* Firefox */
  /* Chrome, Edge and Safari */
}
#es-rc.es-rc em {
  font-style: normal;
}
#es-rc.es-rc .es-mobile-break {
  display: block;
}
#es-rc.es-rc .es-image-box {
  overflow: hidden;
}
#es-rc.es-rc .es-caught {
  animation: fade 1s infinite;
}
#es-rc.es-rc .es-nowrap {
  white-space: nowrap;
}
#es-rc.es-rc .es-kv__container {
  padding: 0 !important;
}
#es-rc.es-rc .es-kv__mobile {
  display: block;
}
#es-rc.es-rc .es-kv__desktop {
  display: none;
}
#es-rc.es-rc .es-kv__title {
  position: absolute;
  top: 30px;
  left: 30px;
}
#es-rc.es-rc .es-kv__text {
  color: #fff;
  width: -moz-max-content;
  width: max-content;
  padding: 0 10px !important;
  text-transform: uppercase;
  font-weight: 900;
  transform: rotate(-3deg);
  margin-bottom: 10px !important;
  border-radius: 5px;
  font-family: "MuseoSans";
  line-height: 0.8;
  font-size: 25px;
}
#es-rc.es-rc .es-kv__text--red {
  background-color: #d32833;
  font-size: 20px;
  margin: 0;
  line-height: 1.3;
}
#es-rc.es-rc .es-kv__text--middle {
  line-height: 0.8;
  margin-left: 5px;
}
#es-rc.es-rc .es-kv__text--blue {
  background-color: #004999;
  transform: rotate(-1.5deg);
  line-height: 1.3;
  margin-left: 20px;
}
#es-rc.es-rc .es-kv__subtitle {
  position: absolute;
  bottom: 3%;
  left: 5%;
}
#es-rc.es-rc .es-kv__text1 {
  color: #fff;
  width: -moz-max-content;
  width: max-content;
  padding: 0 5px !important;
  text-transform: uppercase;
  font-weight: 900;
  transform: rotate(-3deg);
  margin-bottom: 5px !important;
  border-radius: 2px;
  font-family: "MuseoSans";
  line-height: 0.8;
  font-size: clamp(0.9375rem, 0.1554rem + 4.2857vw, 2.8125rem);
}
#es-rc.es-rc .es-kv__text1--red {
  background-color: #d32833;
  font-size: clamp(0.75rem, 0.1504rem + 3.2857vw, 2.1875rem);
  margin: 0;
  line-height: 1.5;
}
#es-rc.es-rc .es-kv__text1--middle {
  line-height: 0.5;
  margin-left: 15px;
}
#es-rc.es-rc .es-kv__text1--blue {
  background-color: #004999;
  transform: rotate(-1.5deg);
  font-size: clamp(0.75rem, 0.1504rem + 3.2857vw, 2.1875rem);
  line-height: 1.3;
  margin-left: 40px;
}
#es-rc.es-rc .es-features__title {
  font-size: 14px !important;
  font-family: "MuseoSans";
  color: #19428f !important;
  line-height: normal;
  font-weight: 700 !important;
  height: 3.6em;
}
@media (min-width: 381px) {
  #es-rc.es-rc .es-features__title {
    height: 3.6em;
  }
}
@media (min-width: 576px) {
  #es-rc.es-rc .es-features__title {
    font-size: 22px !important;
  }
}
@media (min-width: 768px) {
  #es-rc.es-rc .es-features__title {
    height: 4.6em;
  }
}
@media (min-width: 992px) {
  #es-rc.es-rc .es-features__title {
    height: 3.6em;
  }
}
#es-rc.es-rc .es-features .title-top {
  height: 2.6em;
}
@media (min-width: 768px) {
  #es-rc.es-rc .es-features .title-top {
    height: 4.6em;
  }
}
@media (min-width: 992px) {
  #es-rc.es-rc .es-features .title-top {
    height: 3.6em;
  }
}
#es-rc.es-rc .es-features__desc {
  font-family: "Montserrat";
  font-size: 11px !important;
  font-weight: 500;
  color: #000 !important;
  line-height: normal;
}
@media (min-width: 576px) {
  #es-rc.es-rc .es-features__desc {
    font-size: 16px !important;
  }
}
#es-rc.es-rc .es-description {
  background-image: url("https://s3.eu-central-1.amazonaws.com/cdn.rc-eu-central2.nexus.estorelabs.com/public/static/RC---SF-35-sanofi-mucosolvan-x100-ZAWISZA/images/description-bg.png");
  background-size: cover;
  background-position: 64%;
}
#es-rc.es-rc .es-description__box {
  height: 510px;
}
@media (min-width: 992px) {
  #es-rc.es-rc .es-description__box {
    height: 404px;
  }
}
#es-rc.es-rc .es-description__title {
  width: 100%;
  text-align: center !important;
  animation: slideleft 1s ease forwards;
}
#es-rc.es-rc .es-description__text {
  text-align: center;
  color: #fff;
  width: -moz-max-content;
  width: max-content;
  padding: 0 10px !important;
  text-transform: uppercase;
  font-weight: 900;
  transform: rotate(-1.5deg);
  margin: 0 auto 10px !important;
  font-size: 30px;
  border-radius: 5px;
  font-family: "MuseoSans";
  line-height: 0.8;
}
#es-rc.es-rc .es-description__text--blue {
  font-size: 25px;
  background-color: #d32833;
  transform: rotate(-3deg);
  line-height: 1.3;
  position: relative;
  left: -40px;
}
#es-rc.es-rc .es-description__text--middle {
  line-height: 0.8;
  position: relative;
  left: 30px;
}
#es-rc.es-rc .es-description__text1 {
  font-family: "Montserrat";
  font-size: 20px !important;
  color: #fff !important;
  font-weight: 300 !important;
}
#es-rc.es-rc .es-description__text2 {
  font-family: "Montserrat";
  line-height: normal;
  font-size: 26px !important;
  color: #fff !important;
  text-shadow: 0px 0px 50px #004999 !important;
  padding-top: 2rem!important;
}
@media (min-width: 768px) {
  #es-rc.es-rc .es-description__text2 {
    /* font-size: 20px !important; */
    padding-top: unset!important;
  }
}
#es-rc.es-rc .es-description__text3 {
  font-family: "Montserrat";
  font-size: 20px !important;
  color: #fff !important;
  font-weight: 500 !important;
}
#es-rc.es-rc .es-description__box {
  background: linear-gradient(45deg, rgb(49, 117, 182) 0%, rgb(26, 69, 145) 25%, rgb(26, 69, 145) 75%, rgb(49, 117, 182) 100%);
  box-shadow: 2px 2px 5px 0px rgb(47, 47, 47) !important;
  border-radius: 15px;
}
#es-rc.es-rc .es-description__subtitle {
  color: #fff !important;
  width: -moz-max-content;
  width: max-content;
  padding: 0 10px !important;
  text-transform: uppercase;
  font-weight: 900;
  transform: rotate(-3deg);
  margin-bottom: 10px !important;
  font-size: 24px !important;
  border-radius: 5px;
  font-family: "MuseoSans";
  line-height: 1.3;
  margin: 0 auto 10px !important;
  background-color: #d32833;
}
#es-rc.es-rc .es-description__boxSubtitle {
  width: 500px !important;
  background-image: url("https://s3.eu-central-1.amazonaws.com/cdn.rc-eu-central2.nexus.estorelabs.com/public/static/RC---SF-35-sanofi-mucosolvan-x100-ZAWISZA/images/description-subtitle-bg.png");
  background-size: 500px 190px !important;
  background-repeat: no-repeat;
  background-position: center center;
}
#es-rc.es-rc .es-why__title {
  width: 100%;
  text-align: center !important;
  animation: slideleft 1s ease forwards;
}
#es-rc.es-rc .es-why__text {
  text-align: center;
  color: #19428f;
  width: -moz-max-content;
  width: max-content;
  text-transform: uppercase;
  font-weight: 900;
  transform: rotate(-3deg);
  margin: 0 auto 0 !important;
  font-size: clamp(1.375rem, 0.9579rem + 2.2857vw, 2.375rem);
  border-radius: 5px;
  font-family: "MuseoSans";
  line-height: 1.2;
}
#es-rc.es-rc .es-why__text--red {
  border-radius: 5px;
  color: #fff;
  padding: 0 10px !important;
  background-color: #d32833;
}
#es-rc.es-rc .es-why__text--1 {
  position: relative;
  left: -30%;
  line-height: 0.6;
}
#es-rc.es-rc .es-why__text--3 {
  position: relative;
  /* left: -4%; */
  font-size: clamp(1.25rem, 0.4679rem + 4.2857vw, 3.125rem);
  transform: rotate(-1.5deg);
  line-height: 1.3;
}

#es-rc.es-rc .es-dose {
  background-color: #1f57a4;
  line-height: normal;
}
#es-rc.es-rc .es-dose table,
#es-rc.es-rc .es-dose tbody,
#es-rc.es-rc .es-dose tr,
#es-rc.es-rc .es-dose td {
  padding: 0 !important;
  margin: 0 !important;
  border-color: transparent !important;
  border-bottom-width: 0px !important;
  border-width: 0 !important;
  border-style: none !important;
}
#es-rc.es-rc .es-dose__odd {
  background-color: #19428f !important;
}
#es-rc.es-rc .es-dose__even {
  background-color: rgba(31, 87, 164, 0.3764705882) !important;
}
#es-rc.es-rc .es-dose__box {
  padding: 0 !important;
  background-color: #19428f;
  border-radius: 15px;
}
@media (min-width: 992px) {
  #es-rc.es-rc .es-dose__box {
    height: 404px;
  }
}
#es-rc.es-rc .es-dose__subtitle {
  color: #fff !important;
  width: -moz-max-content;
  width: max-content;
  padding: 0 10px !important;
  text-transform: uppercase;
  font-weight: 900;
  transform: rotate(-3deg);
  margin-bottom: 10px !important;
  font-size: 35px !important;
  border-radius: 5px;
  font-family: "MuseoSans";
  line-height: 1.3;
  margin: 0 auto 10px !important;
  background-color: #d32833;
}
#es-rc.es-rc .es-dose--bolded {
  font-weight: 700;
}
#es-rc.es-rc .es-dose__textBig {
  font-family: "Montserrat";
  color: #fff;
  font-size: 26px !important;
  font-weight: 700;
}
#es-rc.es-rc .es-dose td {
  padding: 10px 0 10px 5px !important;
  vertical-align: middle;
  color: #fff;
  font-size: 19.5px !important;
  font-family: "Montserrat";
  font-weight: 300;
  text-align: left;
  border: none;
}
#es-rc.es-rc .es-dose tbody {
  height: 396px;
}
#es-rc.es-rc .es-video {
  margin: 0 auto 64px;
  width: 100%;
  position: relative;
}
#es-rc.es-rc .es-video__container {
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
#es-rc.es-rc .es-video__iframe {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#es-rc.es-rc .es-video__title {
  animation: slideleft 1s ease forwards;
}
#es-rc.es-rc .es-video__text {
  text-align: center;
  color: #19428f;
  width: -moz-max-content;
  width: max-content;
  padding: 0 10px !important;
  text-transform: uppercase;
  font-weight: 900;
  transform: rotate(-3deg);
  margin: 0 auto 10px !important;
  font-size: 25px;
  border-radius: 5px;
  font-family: "MuseoSans";
  line-height: 0.8;
}
#es-rc.es-rc .es-video__text--red {
  color: #fff;
  padding: 0 10px !important;
  background-color: #d32833;
}
#es-rc.es-rc .es-video__text--1 {
  position: relative;
  left: -15%;
  line-height: 1.3;
}
#es-rc.es-rc .es-video__text--2 {
  text-align: left;
  font-size: 30px;
  transform: rotate(-1.5deg);
  line-height: 1.1;
}
#es-rc.es-rc .es-cross {
  background-image: url("https://s3.eu-central-1.amazonaws.com/cdn.rc-eu-central2.nexus.estorelabs.com/public/static/RC---SF-35-sanofi-mucosolvan-x100-ZAWISZA/images/description-bg.png");
  background-position: right;
  position: relative;
  z-index: 0;
}
#es-rc.es-rc .es-cross__bg {
  position: absolute;
  width: 100%;
  height: 410px;
  top: 435px;
  left: 0;
  background: rgb(68, 152, 209);
  background: linear-gradient(180deg, rgb(68, 152, 209) 0%, rgb(31, 87, 164) 27%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4498d1", endColorstr="#1f57a4", GradientType=1);
  z-index: -1;
}
@media (max-width: 376px) {
  #es-rc.es-rc .es-cross__bg {
    top: 432px;
  }
}
@media (min-width: 377px) and (max-width: 440px) {
  #es-rc.es-rc .es-cross__bg {
    top: 440px;
  }
}
@media (min-width: 540px) {
  #es-rc.es-rc .es-cross__bg {
    top: 475px;
  }
}
@media (min-width: 768px) {
  #es-rc.es-rc .es-cross__bg {
    top: 481px;
  }
}
@media (min-width: 992px) {
  #es-rc.es-rc .es-cross__bg {
    top: 429px;
    height: 425px;
}
}

@supports (-webkit-touch-callout: none) {
  #es-rc.es-rc .es-cross__bg {
    height: 420px;
  }
}
#es-rc.es-rc .es-cross__title {
  width: 100%;
  text-align: center !important;
}
#es-rc.es-rc .es-cross__title {
  animation: slideleft 1s ease forwards;
}
#es-rc.es-rc .es-cross__text {
  text-align: center;
  color: #fff;
  width: -moz-max-content;
  width: max-content;
  padding: 0 10px !important;
  text-transform: uppercase;
  font-weight: 900;
  transform: rotate(-3deg);
  margin: 0 auto 10px !important;
  font-size: 25px;
  border-radius: 5px;
  font-family: "MuseoSans";
  line-height: 1.3;
  background-color: #d32833;
}
#es-rc.es-rc .es-cross table,
#es-rc.es-rc .es-cross thead,
#es-rc.es-rc .es-cross tbody,
#es-rc.es-rc .es-cross tr,
#es-rc.es-rc .es-cross th,
#es-rc.es-rc .es-cross td {
  box-sizing: border-box !important;
  border-collapse: collapse !important;
  border-spacing: unset !important;
  border-color: transparent !important;
  border-bottom-width: 0px !important;
  border-width: 0px !important;
  border-style: solid !important;
}
#es-rc.es-rc .es-cross__emptyImage {
  display: block;
  height: 250px !important;
  padding-top: 50px;
}
#es-rc.es-rc .es-cross__table {
  margin-left: 42px;
}
#es-rc.es-rc .es-cross__table--titlerow {
  height: 80px!important;
}
@media (min-width: 992px) {
  #es-rc.es-rc .es-cross__table--titlerow {
    height: 107px!important;
  }
}
#es-rc.es-rc .es-cross__badge {
  position: absolute;
  top: 0%;
  left: 14%;
  color: #fff;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  font-size: 20px;
  font-family: "MuseoSans";
  padding: 0 0 0 10px !important;
  border-radius: 5px;
}
#es-rc.es-rc .es-cross__badge em {
  line-height: 1.3;
  padding: 2px 10px !important;
  background-color: #d32833;
  border-radius: 5px;
  margin-left: -10px !important;
}
@media (min-width: 992px) {
  #es-rc.es-rc .es-cross__badge {
    left: -28%;
    top: 13%;
    text-align: left;
  }
}
#es-rc.es-rc .es-cross__row {
  vertical-align: middle;
  text-align: left !important;
  padding-left: 15px !important;
  font-family: "Montserrat";
  font-weight: 500;
  color: #fff;
  font-size: 14px !important;
}
@media (min-width: 567px) {
  #es-rc.es-rc .es-cross__row {
    padding-left: 32px !important;
  }
}
#es-rc.es-rc .es-cross__row--2 {
  height: 64px;
}
#es-rc.es-rc .es-cross__row--3 {
  height: 40px;
}
#es-rc.es-rc .es-cross__row--4 {
  height: 88px;
}
@media (min-width: 992px) {
  #es-rc.es-rc .es-cross__row--4 {
    height: 64px;
  }
}
#es-rc.es-rc .es-cross__row--5 {
  height: 40px;
}
#es-rc.es-rc .es-cross__row--6 {
  height: 84.59px;
}
#es-rc.es-rc .es-cross__head {
  font-family: "MuseoSans";
  font-size: 22px !important;
  font-weight: 900;
}
#es-rc.es-rc .es-cross__image {
  padding-top: 50px;
  max-height: 200px;
}
#es-rc.es-rc .es-cross__image--big {
  max-height: 240px;
}
#es-rc.es-rc .es-cross table {
  padding: 0 !important;
  margin: 0 !important;
  border: none;
  border-color: transparent !important;
}
#es-rc.es-rc .es-cross thead {
  height: 271px !important;
  overflow: hidden  !important;
  z-index: -1  !important;
}
#es-rc.es-rc .es-cross tbody {
  height: 400px;
  z-index: 2!important;
}
#es-rc.es-rc .es-cross td {
  font-family: "Montserrat";
  min-width: 190px;
  color: #fff;
  font-size: 16px !important;
  font-weight: 300;
  vertical-align: middle;
}
#es-rc.es-rc .es-cross td em {
  font-weight: 700;
}
#es-rc.es-rc .es-cross th {
  border: none !important;
  min-width: 90px;
  height: 271px !important;
}
#es-rc.es-rc .es-articles__button {
  font-family: "Montserrat";
  font-weight: 700 !important;
  text-decoration: none;
  color: #fff !important;
  width: -moz-max-content;
  width: max-content;
  padding: 5px 10px !important;
  font-weight: 500;
  margin-bottom: 10px !important;
  font-size: 22px !important;
  border-radius: 5px;
  line-height: 1.3;
  margin: 0 auto 10px !important;
  background-color: #d32833;
}
#es-rc.es-rc .es-footer {
  background-image: url("https://s3.eu-central-1.amazonaws.com/cdn.rc-eu-central2.nexus.estorelabs.com/public/static/RC---SF-35-sanofi-mucosolvan-x100-ZAWISZA/images/description-bg.png");
}
#es-rc.es-rc .es-footer__text {
  font-family: "Montserrat";
  color: #fff !important;
}
#es-rc.es-rc .es-footer__text--1 {
  font-size: 14px !important;
}
#es-rc.es-rc .es-footer__text--2 {
  font-size: 16px !important;
  font-weight: 700;
}
#es-rc.es-rc .es-footer__text--3 {
  font-size: 29px;
  line-height: 1.1;
  font-weight: 700;
}
#es-rc.es-rc .es-footer__text--italic {
  font-style: italic;
}
#es-rc.es-rc .es-footer__MAT-logo {
  display: flex;
  align-items: flex-end;
}
#es-rc.es-rc .es-footer__MAT {
  font-size: clamp(0.5rem, 0.3374rem + 0.8671vw, 0.875rem);
  flex-basis: 50%;
}
#es-rc.es-rc .es-footer__logo-container {
  flex-basis: 50%;
  display: flex;
}
#es-rc.es-rc .es-footer__logo {
  margin-left: auto;
}
#es-rc.es-rc * {
  scrollbar-width: thin;
  scrollbar-color: #D32833 #DEDEDF;
}
#es-rc.es-rc *::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
#es-rc.es-rc *::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #DEDEDF;
}
#es-rc.es-rc *::-webkit-scrollbar-track:hover {
  background-color: #BBBBBC;
}
#es-rc.es-rc *::-webkit-scrollbar-track:active {
  background-color: #BBBBBC;
}
#es-rc.es-rc *::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #D32833;
}
#es-rc.es-rc *::-webkit-scrollbar-thumb:hover {
  background-color: #A72028;
}
#es-rc.es-rc *::-webkit-scrollbar-thumb:active {
  background-color: #A72028;
}

@media (max-width: 400px) {
  #es-rc.es-rc .es-kv__title {
    left: 4%;
  }
  #es-rc.es-rc .es-kv__subtitle {
    left: 3%;
  }
  #es-rc.es-rc .es-description__text {
    font-size: 28px;
  }
  #es-rc.es-rc .es-description__text--blue {
    left: -25px;
    font-size: 22px;
  }
  #es-rc.es-rc .es-description__text--middle {
    left: 3%
  }

  #es-rc.es-rc .es-description__text1 {
    font-size: 16px!important;
  }
  #es-rc.es-rc .es-description__box {
    height: unset;
  }
  #es-rc.es-rc .es-why__text--1 {
    left: -26%;
  }
  #es-rc.es-rc .es-why__text--3 {
    left: unset;
  }
  #es-rc.es-rc .es-cross__text {
    font-size: 22px;
    padding: 0 6px !important;
  }
}

@media (min-width: 400px) {
  #es-rc.es-rc .es-kv__text {
    font-size: 27px;
  }
  #es-rc.es-rc .es-kv__text--red {
    font-size: 22px;
  }
  #es-rc.es-rc .es-why__text--1 {
    left: -27%;
  }
  #es-rc.es-rc .es-why__text--3 {
    left: 3% !important;
  }


  #es-rc.es-rc .es-footer__text--3 {
    font-size: 29px;
  }
}

@media (min-width: 440px) {
  .es-kv__text {
    font-size: 31px !important;
  }
  .es-kv__text--red {
    font-size: 26px !important;
    line-height: 1.3;
  }
  .es-kv__text--middle {
    line-height: 0.8;
    margin-left: 5px;
  }
  .es-kv__text--blue {
    line-height: 1.3;
    margin-left: 20px;
  }
  
  
  .es-why__text--3 {
    left: 1% !important;
  }
}
@media (min-width: 500px) {
  .es-kv__text {
    font-size: 39px !important;
  }
  .es-kv__text--red {
    font-size: 34px !important;
  }
 
  .es-why__text--3 {
    left: 1% !important;
  }
}
@media (min-width: 540px) {
 
  .es-why__text--3 {
    left: 1% !important;
  }
  .es-video__text {
    font-size: 38px !important;
  }
  .es-video__text--2 {
    font-size: 50px !important;
  }
  .es-cross__text {
    font-size: 38px !important;
  }
}
@media (min-width: 576px) {
  .es-kv__mobile {
    display: none !important;
  }
  .es-kv__desktop {
    display: block !important;
  }

  .es-description__text {
    font-size: 40px !important;
  }
  .es-description__text--blue {
    font-size: 30px !important;
  }

  .es-why__text--1 {
    left: -30% !important;
  }
  .es-why__text--3 {
    left: -2% !important;
  }

  .es-footer {
    font-size: 38px !important;
  }
}
@media (min-width: 768px) {
  .es-kv__text {
    font-size: 60px !important;
  }
  .es-kv__text--red {
    font-size: 45px !important;
    margin: 0;
    line-height: 1.3;
  }
  .es-kv__text--middle {
    line-height: 0.8;
    margin-left: 5px;
  }
  .es-kv__text--blue {
    line-height: 1.3;
    margin-left: 20px;
  }

  .es-why__text--1 {
    line-height: 0.5 !important;
  }
  .es-why__text--3 {
    left: 5% !important;
  }
  .es-cross__text {
    font-size: 40px !important;
  }
}
@media (min-width: 992px) {
  .es-mobile-break {
    display: none !important;
  }
  .es-kv__title {
    top: 30px;
    left: 30px;
  }
  .es-kv__text {
    font-size: 62px!important;
  }
  .es-kv__text--red {
    font-size: 46px!important;
  }
  .es-kv__text1--red {
    margin: 0;
  }
  .es-kv__text1--middle {
    margin-left: 60px;
  }
  .es-kv__text1--blue {
    margin-left: 120px !important;
  }
  .es-why__text--1 {
    left: -35% !important;
  }
  .es-why__text--3 {
    left: 18% !important;
  }
  .es-video__text--1 {
    left: -25% !important;
  }
  .es-cross__table {
    overflow: visible !important;
  }
}
